
  <div class="background">
    <div class="background-content" 
      style="background-image: url(https://images.unsplash.com/photo-1446776877081-d282a0f896e2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a34debf85fb97a6cf279d0b5f661bb1e&auto=format&fit=crop&w=1352&q=80);"></div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
    <a class="navbar-brand" href="{{ "/" | relative_url }}">
      <img class="img-fluid" src="https://equilaterus.github.io/wikilaterus/assets/img/logo-windmill-alpha-sm.png" alt="logo equilaterus"> <span>equilaterus</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ "/" | relative_url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://equilaterus.github.io/wikilaterus/" target="_blank">Wikilaterus</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/team">Team</a>
          </li>
      </ul>
    </div>
    </div>
  </nav>
