<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark-alpha-3 navbar-dark h-font">
  <div class="container">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="navbar-brand" href="{{ "/" | relative_url }}">
      <img class="img-fluid" src="https://equilaterus.github.io/wikilaterus/assets/img/logo-windmill-alpha-sm.png" alt="logo equilaterus"> <span>Equilaterus</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">

      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="https://equilaterus.azurewebsites.net/" target="_blank">Videogames</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/opensource" target="_blank">Open Source</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/team">Team</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="https://equilaterus.github.io/wikilaterus/" target="_blank"><i class="fas fa-book"></i> Wikilaterus</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="background background-fixed-full" style="background-image: url(https://images.unsplash.com/photo-1446776877081-d282a0f896e2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a34debf85fb97a6cf279d0b5f661bb1e&auto=format&fit=crop&w=1352&q=80);">
</div>
